<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first user-icon">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      <i class="fa fa-user-circle fa-3x"></i>
    </div>

    <!-- Login Form -->
    <form [formGroup] = "loginForm">
      <div (keyup.enter)= "login()" >
        <input type="text" formControlName="userName" class="fadeIn second" placeholder="Enter username">
        <input type="password" formControlName="password" class="fadeIn third" placeholder="Enter password">
        <input type="button" class="fadeIn fourth" value="Log In" (click) = "login()">
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover">Forgot Password?</a>
    </div>

  </div>
</div>