<div class="container top-container">
    <h4>Placed Orders</h4>
    <p></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>S.N.</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Paid Amount</th>
                <th>Ordered Items</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf = "!loading && !(orderBooks.length > 0)">
                    No orders found
            </ng-container>
            <ng-container *ngIf = "!loading && orderBooks.length > 0">
                <tr (click)="showChild(i)" *ngFor="let orderBook of orderBooks; let i=index;">
                    <td style="width: 10%;">{{i+1}}</td>
                    <td style="width: 20%;">
                        <div *ngIf = "orderBook.customerName && orderBook.customerName != ''">
                            {{orderBook.customerName}}
                        </div>
                        <div *ngIf = "!(orderBook.customerName && orderBook.customerName != '')">
                            N/A
                        </div>
                    </td>
                    <td style="width: 15%;">
                        <div *ngIf = "orderBook.customerPhone && orderBook.customerPhone != ''">
                            {{orderBook.customerPhone}}
                        </div>
                        <div *ngIf = "!(orderBook.customerPhone && orderBook.customerPhone != '')">
                            N/A
                        </div>
                    </td>
                    <td style="width: 15%;">{{orderBook.tenderDetails.amount}}</td>
                    <td style="width: 40%;">
                        <div *ngIf="!orderBook.visible" style="font-style: italic;">
                            Click to load items...
                        </div>
                        <div *ngIf="orderBook.visible">
                            <div *ngFor="let orderItem of orderBook.orderItems; let j=index;">
                                <div class="row">
                                    <div style="width: 10%;">
                                        {{j+1}}.
                                    </div>
                                    <div style="width: 60%;">
                                        {{orderItem.menu.name}}
                                    </div>
                                    <div style="width: 10%;">
                                        x {{orderItem.quantity}}
                                    </div>
                                    <div style="width: 20%;">
                                        {{orderItem.menu.price}}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr style ="margin: 2px;"/>
                            </div>
                            <div class = "row" style = "font-weight: bold;">
                                <div style="width: 10%;">
                                </div>
                                <div style="width: 60%;">
                                    Total Amount
                                </div>
                                <div style="width: 10%;">
                                </div>
                                <div style="width: 20%;">
                                    {{getTotalBill(orderBook.orderItems)}}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
            

        </tbody>
    </table>
</div>