<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="isUserLoggedIn()">
        <a class="nav-link" href="view-orders">View Placed Orders <span class="sr-only">(current)</span></a>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="isUserLoggedIn()">
        <a class="nav-link" href="place-order">Place New Orders <span class="sr-only">(current)</span></a>
    </ul>


    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="isUserLoggedIn()">
        <a class="nav-link" onclick="localStorage.clear()" href="/login">Log Out <span
            class="sr-only">(current)</span></a>
    </ul>






  </div>


</nav>


<router-outlet></router-outlet>