<div class="container top-container"  *ngIf ="dashboardData">
	<div class="card-list">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="card blue">
					<div class="title">Number of orders</div>
					<i class="zmdi fa fa-arrow-up"></i>
					<div class="value">{{dashboardData.numberOfOrders}}</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="card green">
					<div class="title">Total amount collected</div>
					<i class="zmdi fa fa-money"></i>
					<div class="value">Rs. {{dashboardData.totalAmountCollected}}</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="card orange">
					<div class="title">Favorite item</div>
					<i class="zmdi fa fa-heart"></i>
					<div class="value">{{dashboardData.mostOrderedItem}}</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
				<div class="card red">
					<div class="title">Favorite item order count </div>
					<i class="zmdi fa fa-repeat"></i>
					<div class="value">{{dashboardData.mostOrderedItemCount}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class ="d-flex justify-content-center">
		<input type="button" class=" btn medium fadeIn fourth" value="Place new order" (click) = "navigateToPlaceOrder()">
	</div>
</div>



