<div class = "container">
    <div class="container my-5">
      <div class="card-body text-center">
        <h4 class="card-title">Place new order</h4>
      </div>
      <div class="card">
        <button id="add__new__list" type="button" class="btn btn-success position-absolute" data-toggle="modal"
          data-target=".bd-example-modal-lg"  [disabled] ="!(getOrderItems().length > 0)">
          <i class="fa fa-plus"></i> Confirm Order</button>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>S.N.</th>
              <th>Name</th>
              <th>Price</th>
              <th style ="padding-left: 5%;">Quantity</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let loadedOrderItem of loadedOrderItems; let i=index;">
                <th scope="row" style= "width: 10%;">{{i+1}}</th>
                <td style= "width: 50%;">{{loadedOrderItem.menu.name}}</td>
                <td style= "width: 10%;">{{loadedOrderItem.menu.price}}</td>
                <td style= "width: 30%;">
                  <div>
                    <button class="plusminus" (click)="handleMinus(i)">-</button>
                    <input class ="input-center" type="number" min="0" oninput="validity.valid||(value='');" [(ngModel)]="loadedOrderItem.quantity" style ="width: 16%;">
                    <button class="plusminus" (click)="handlePlus(i)">+</button>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>

      </div>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" data-target="#modal">
          <div class="modal-content">
            <div class="card-body text-center">
              <h4 class="card-title">Order payment</h4>
              <p class="card-text">Please enter the following details to confirm your order</p>
            </div>
            <div class = "container">
            <div class="row">
              <div class="col-md-6" >
                <div>
                <div class="overflow-auto" style ="max-height: 350px;">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>S.N.</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orderItem of getOrderItems(); let i=index;">
                          <td style="width: 10%">{{i+1}}</td>
                          <td style="width: 70%">{{orderItem.menu.name}}</td>
                          <td style="width: 70%">{{orderItem.quantity}}</td>
                          <td style="width: 20%">{{orderItem.menu.price}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row" style="font-weight: bold; margin-top: 20px;">
                  <div style="width: 10%;">
                  </div>
                  <div style="width: 60%;">
                      Total
                  </div>
                  <div style="width: 10%;">
                      
                  </div>
                  <div style="width: 20%;">
                      {{getTotalBill()}}
                  </div>
              </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="card col-8 offset-2 my-2 p-3">
                  <form [formGroup] = "paymentForm">
                    <div class="form-group">
                      <label for="listname">Customer Name</label>
                      
                      <input type="text" class="form-control" formControlName="customerName">
                    </div>
                    <div class="form-group">
                      <label for="datepicker">Customer Phone</label>
                      <input type="number" class="form-control" formControlName="customerPhone">
                    </div>
                    <div class="form-group">
                      <label for="listname">Payment medium <span class="required" aria-required="true"> * </span></label>
                      <select class="form-control" formControlName = "paymentMedium">
                        <option *ngFor="let option of paymentOptions" [value]="option">{{option}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                      <label for="listname">Paid Amount <span class="required" aria-required="true"> * </span></label>
                      <input type="number" class="form-control" formControlName="paymentAmount">
                      <p class="mini-text">Should be greater than or equal to total bill.</p>
                    </div>
                    <div class="form-group text-center">
                      <button type="button" class="btn btn-block btn-primary" data-dismiss="modal" (click) = "confirmPayment()" [disabled] = "!paymentForm.valid || !isPaidAmountValid()">Confirm payment</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
