body{
    
    background-repeat:no-repeat;
    background-size: 100%;
}

footer{

	margin-top: 20px;
	padding-top: 20px;
}
.bg__card__navbar{
	background-color: #000000;
}
.bg__card__footer{
	background-color: #000000 !important;
}
#add__new__list{
    top: -38px;
    right: 0px;
}
.mini-text{
    font-size: x-small;
    color: red;
}


.input-center {
    text-align: center;  
    border: 1px solid #6C757D;
  } 
  
  input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
    }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  
  .plusminus {
    width: 10%;
    border: none;
    font-size: 20px;
    color: #5f5fce;
    background-color: transparent;
  }
  
  .num {
    height: 50%;
    width: 39%;
    border: none;
    font-size: 30px;
  }